<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilos.css">
    <title>Productos</title>
</head>
<body>
  
        <header>
        <h1>Nuestra web</h1>
        <nav class="nav-links">
            <a href="../index.html">Inicio</a>
            <a href="../views/productos.html" class="active">Productos</a>
            <a href="#">Servicio</a>
            <a href="#">Contactos</a>

        </nav>

    </header>
    <h2>Productos</h2>
    <main>

    </main>
    <footer>
        <p>todos los derechos reservados</p>

    </footer>
    
</body>
</html>