*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    background: url(../assets/imagenes/IMG_20240119_113642_386.jpg)  top/cover no-repeat fixed;
  
    

}

header{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px 40px;
    height: 100vh;
    color: #120202;
   

    
    
}

section h2{
    margin-bottom: 20px;
}

.nav-links{
    position: fixed;
    top: 0;
    z-index: 10;
    font-size: large;
    padding: 10px;
    list-style: none;
    display: flex;
    justify-content: center;
    backdrop-filter:blur(5px);
    width: 100%;
    gap: 20px;
    animation: aparecer 1.5s ease  forwards;
}

.nav-links a {
    color: #0c0b0b;
    text-decoration: none;
}

.active{
    background-color: aqua;
    color: #333;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
}



.nav-links a:hover{
    color: orange;
}


.hero{
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
    animation: aparecer 1.5s ease  forwards;
}

/*FLECHA TOP*/

.flecha-top{
    position: fixed;
    bottom: 300px;
    right: 30px;
    opacity: .7;
    transition: all .3s ease-in-out;
    z-index: 11;
}

.flecha-top:hover{
    opacity: 1;
    transform: translateY(-10px) ;
}


/*Clase secciones con contenido contenidos*/

section{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenido{
  background-color: rgba(16, 16, 150, 0.649);

}

.contenido-img{
    background-color: #1557944e ;
}

section h2{
    margin-bottom: 20px;
    color: #fff;
}
.contenedor{
    width: 60%;
    max-width: 800px;
}

.contenedor-xl{
    width: 80%;
    max-width: 800px;
}



/*SECCION NUESTROS INICIOS*/

.contenedor-img-txt{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    align-items: center;
}

.contenedor-img-txt img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cuadro-txt{
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 4px 10px;
    margin-left: -30px;
    transition: all .5s ease-in-out;
}

.cuadro-txt{
    margin-bottom: 20px;

}

.contenedor-img-txt:hover .cuadro-txt{
    transform: translateX(-10px);

 
}






/*SECCION TOP VENTAS*/

.top-ventas{
    width: 80%;
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.top-venta{
    height: 300px;
    display: grid;
    grid-template-rows: 70% 30% ;
    text-align: center;
    border-radius: 10px;
    opacity:0.8;
    transition: all .3s ease-in-out;
 
}




.top-venta img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
    z-index: 9;
  
  
    
}

.top-venta:hover{
    transform: translateY(-10px);
    opacity: 1;
    cursor: pointer;

}

.descripcion{
 
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    transform: translateY(-130px);
    transition: all .5s ease-in-out;
}

.descripcion img{
    width: 40px;
    height: auto;
    margin-top: 5px;
    color: #fff;

}

.top-venta:hover .descripcion{
    transform: translateY(0px);
 
}

.top-venta:hover .descripcion img{
    opacity: 0;

}

/*SECCION FORMULARIO*/

.contact-form{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px ;
}

.contact-form label{
    margin-bottom: 5px;
    font-weight: bold;

}

.contact-form input,
.contact-form textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
 

}

.contact-form input[type="submit"]{
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    transition: all .3s ease-in-out;
    font-size: 20px;
 


}
.contact-form input[type="submit"]:hover{
    background-color: orange;
}



/*SECCION pata*/


.pata1{
      background-color: rgba(41, 122, 41, 0.427);

}



.pata{
  
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    width: 70%;
    
}

.pata img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 300px;
   
}




























/*footer*/
footer{
    background-color: #333;
    padding: 20px;
    text-align: center;
}

@keyframes aparecer {
    0% {
        opacity: 0;
        transform: translateY(80px);
    }
    100% {
        opacity: 1;
        transform:translateY(0);

    }

}