@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}


body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    
}

.container{
    max-width: 1200px;
    margin: 0 auto;

}


.header {

    height: 1000px;
    background: linear-gradient(
        rgba(86, 30, 30, 0.5),
        rgba(86, 26, 26, 0.4)),
        url(../ASSETS/montaña\ chaten.jpg) center/cover no-repeat;
        padding: 100px;
}

/*.header{
    background:url(../ASSETS/montaña\ chaten.jpg) center/cover no-repeat;
    min-height: 70vh;
    display: flex;
    align-items: center;
    
}

/*
.services{
        background: linear-gradient(
        rgba(0.9, 0, 0, 0.4),
        rgba(0, 0, 0, 0.7)),
        url(../ASSETS/canarias.jpg)center/cover no-repeat fixed;
        padding: 100px 0;
        
    
}*/

.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display:flex;
    justify-content: space-between;
    color: white;

}

.logo{

    color: #fffdfc;
    font-size: 25px;
    font-weight: 800;
 
}

/*************MENU NAVBAR**/

.menu .navbar ul li{
    position:relative;
    float: left;
   }


.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    display: block;
    font-weight: 600;

} 

.menu .navbar ul li a:hover{
    color: orange;
} 


#menu{
    display: none;
}

.menu-icono{

    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;

}

/***********SECCION HEADER*/

.header-content {
    text-align: center;
    margin-top: 100px;
}

.header-content h1 {
    font-size: 75px;
    color: #f9fafc;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.header-content p {
    font-size: 16px;
    padding: 0 250px ;
    color: #451111;
    margin-bottom: 250px;
}

.btn-1{
    display: inline-block;
    padding: 11px 35px;
    background-color: #ce9678;
    color: #f9fafc;
    text-transform: uppercase;
    border-radius: 10px;
    margin: 50px;

    
}

.btn-1:hover{
    background-color: orangered;
}

/**********************cofee*/


.cafe {
    padding: 100px 0;
    background-color:#626c94;
    position: relative;
}

.cafe {
    text-align: center;

}

.cafe-content h2 {
    font-size: 55px;
    color:#b7bac6 ;
    text-transform: uppercase;
    padding: 0 250px;
    margin-bottom: 15px;


}

.txt-p{
    font-size: 16px;
    color: #414217;
    padding: 0 250px;
    margin-bottom: 35px;


}



.coffee-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px ;

}

.caffee-1{
    padding: 5px;
    border: 1px solid black;

}

.caffee-1 h3{
   color: #142952;
   font-size: 20px;
   margin-bottom: 15px;

}


.caffee-1 img{
    width:400px ;
    border-radius: 10px;
    object-fit: cover;


}









/*******************SECCION SERVICIOS*/

/*.services{
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)),
        url(../ASSETS/canarias.jpg)center/cover no-repeat fixed;
        
    
}*/

.services{
        background: linear-gradient(
        rgba(0.9, 0, 0, 0.4),
        rgba(0, 0, 0, 0.7)),
        url(../ASSETS/canarias.jpg)center/cover no-repeat fixed;
        padding: 100px 0;
        
    
}

.services-content {
    text-align: center;

}

.services-content h2 {
    font-size: 55px;
    color: #f9fafc;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.services-content p {
    font-size: 16px;
    color: #c5c;
    margin-bottom: 20px;
    padding: 0 250px ;


}

.servicios-group{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;

}

.services-1 {
    padding: 0 100px;
    height: 200px;
}

.services-1 img {

    width: 100%;
    height: 100%;
    object-fit: cover;

}

.services-1 h3 {
    color: #ce9678;
    font-size: 20px;

}

/*SECCION GENERAL*/

.general {
    display: flex;
 
    

  
 }
 
.general-1{
    width: 50%;
    padding: 100px 250px 100px 100px;
    background-color: #e1e2e6;
    border: 1px solid black;
}

.general-2{
    background:url(../ASSETS/montaña\ chaten.jpg) center/cover no-repeat ;
    width: 50%;


   
   
}


.general-3{
    background:url(../ASSETS/canarias.jpg) center/cover no-repeat  ;
    width: 50%;
}

h2 {
    font-size: 55px;
    text-transform: uppercase;
    margin-bottom: 50px;
}

p {
    font-size: 16px;
    color: #414247;
    margin: 25px 0 45px 0;


}


/*SECCION BLOG*******/

.blog{
    padding: 100px 0;
    text-align: center;
    min-width: 100vh;
}

.blog-content{
    display: flex;
    justify-content:space-between ;

}

.blog-1 {
    padding:15px 55px ;
}

.blog-1 img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 15px;
    margin-bottom: 15px ;
   

}

.blog-1 h3 {
    font-size: 25px;
}


/*FFOTER**************/

.footer{
    padding: 100px 0;
    
  
}

.footer-content {
    display: flex;
    justify-content: space-between;
    background-color: #110d0d;
   
}

.link h3 {
    font-size: 18px;
    color:#464c57;
    margin-bottom: 15px;
}

.link a {
    font-size: 16px;
    color: #cfc1c1;
    display: block;
    margin-bottom: 15px;

    

}

/* SECCION MEDIA QUERIES*/

@media(max-width:991px) {

    .menu {
        padding: 30px;
    }
    .menu label {
        display: initial;

    }
    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #323232;
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    
    #menu:checked ~ .navbar
    {
        display: initial;
    }

    .header{
        min-height: 0vh;

    }
    .header-content{
        padding: 100px;

    }
    .header-content p{
        padding: 0;
    }

    .cafe{
        padding: 30px;

    }

    .cafe-content h2 {
        padding: 0;
    }
    
    .txt-p {
        padding: 0;
    }

    .coffee-group {
        flex-direction: column;
        margin-bottom: 0;
    }

    .services {
        padding: 30px;
    }

    .services-content p {
        padding: 0;

    }

    .servicios-group {
        flex-direction: column;
        margin-bottom: 0;
    }

    .services-1 {
        margin-top: 25px;
    }

    .general{
        flex-direction: column;
    }

    .general-1{
        width: 100%;
        padding: 30px;
        text-align: center;
    }

    .general-2 , .general-3 {
        display: none;
    }

    .blog {
        padding: 30px;

    }

    .blog-content {
        flex-direction: column;

    }

    .blog-1 {
        padding: 0;
    }

    .footer {
        padding: 30px;
    }

    .footer-content {
        flex-direction: column;
        text-align: center;
    } 



}



